<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<ul>Pokemon List
  <% @trainer.pokemons.each do |pokemon| %>
    <li> <%=pokemon.name%>, Level: <%=pokemon.level%>, Health: <%=pokemon.health%> </li>
     <%= button_to "Damage!", damage_path(id: pokemon.id, trainer: current_trainer), :class => "button small", :method => :patch %>
  <% end %>
</ul>
<% if @trainer == current_trainer %>
<p> <%= button_to "Add Pokemon", pokemon_new_path, :class => "button medium", :method => "get" %> </p>
<%end%>